.container {
    width: 100%;

    .content {
        width: 100%;
        min-width: 1200px;
    }
}

:global(:root) {
    font-size: 1em;
    box-sizing: border-box;
}

:global(*),
:global(::after),
:global(::before) {
    box-sizing: inherit;
}

:global(p) {
    margin: {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    font-family: 'Lucida Console', Monaco, monospace;
}
